body{
    background-color: #d1aa6f;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}
input{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
select{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
